<<<<<<< HEAD
<h3>
    Matches for <%= user.username %><br/>
    Matches: <% for (var i = 0; i < matches.length; i++) { %>
                <%= matches[i].username %><br/>
             <% } %>
    <% if (sent) { %>
    Sent:    <% for (var i = 0; i < sent.length; i++) { %>
                <%= sent[i].username %><br/>
             <% } %>
    <% } %>
    <% if (received) { %>
    Received:    <% for (var i = 0; i < received.length; i++) { %>
                    <%= received[i].username %><br/>
                 <% } %>
    <% } %>
    </h3>
    <a href="/profile">View Profile</a>
    <a href="/logout">Log out</a>
=======
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/navbar %>
    <div class="container">
        <h2>Matches for <%= user.username %></h2>
        <br/>
        <h3>
                Matches: <br/>
                    <h3 class="text-primary">
                        <% for (var i = 0; i < matches.length; i++) { %>
                            <%= matches[i].username %><br/>
                        <% } %>
                    </h3>
        </h3>
        <h3>
                Pending: <br/>
                <% if (received) { %>
                    <h3 class="text-success">
                        <% for (var i = 0; i < received.length; i++) { %>
                            <%= received[i].username %><br/>
                        <% } %>
                    </h3>
                <% } %>
                <% if (sent) { %>
                    <h3 class="text-danger">
                        <% for (var i = 0; i < sent.length; i++) { %>
                            <%= sent[i].username %><br/>
                        <% } %>
                    </h3>
                <% } %>
        </h3>
    </div>

</body>
<% include partials/script %>
</html>
>>>>>>> 7347997aaf4ed819518864ae82c5929021563c54
