<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/navbar %>
    <div class="container">
        <h2>Matches for <%= user.username %></h2>
        <br/>
        <h3>Matches:</h3>

        <% for (var j = 0; j < matchProfiles.length; j++) { %>
            <div class="card" style="width: 15rem;">
                <div class="card-body text-center">
                    <h3 class="card-header">
                            <%= matches[j].username %> <br/>
                    </h3>
                    <div class="card-text">
                        <h4 >Age: <%= matchProfiles[j].age %> </h4>
                        <h4> Interest: <%= matchProfiles[j].interests %> </h4>
                        <h4> Services: <%= matchProfiles[j].services %> </h4>
                    </div>
                    <a class= "btn-sm btn-primary btn-block">Match!</a>
                </div>
            </div>
        <% } %>
                
        <h3>Pending: </h3><br/>
                <% if (received) { %>
                    <% for (var i = 0; i < receivedProfiles.length; i++) { %>
                        <div class="card" style="width: 15rem;">
                                <div class="card-body text-center">
                                    <h3 class="card-header">
                                        <%= received[i].username %><br/>
                                    </h3>
                                    <div class="card-text">
                                        <h4 >Age: <%= receivedProfiles[i].age %> </h4>
                                        <h4> Interest: <%= receivedProfiles[i].interests %> </h4>
                                        <h4> Services: <%= receivedProfiles[i].services %> </h4>
                                    </div>
                                    <a class= "btn-sm btn-success btn-block">Accept</a>
                                </div>
                            </div>
                    <% } %>
                <% } %>
                <% if (sent) { %>
                    <% for (var i = 0; i < sentProfiles.length; i++) { %>
                        <div class="card" style="width: 15rem;">
                                <div class="card-body text-center">
                                    <h3 class="card-header">
                                        <%= sent[i].username %><br/>
                                    </h3>
                                    <div class="card-text">
                                        <h4 >Age: <%= sentProfiles[i].age %> </h4>
                                        <h4> Interest: <%= sentProfiles[i].interests %> </h4>
                                        <h4> Services: <%= sentProfiles[i].services %> </h4>
                                    </div>
                                    <a class= "btn-sm btn-danger btn-block">Waiting</a>
                                </div>
                            </div>
                    <% } %>

                <% } %>
        
    </div>

</body>
<% include partials/script %>
</html>
