<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 

</head>
<body style="background-color:#023166;">
<% include partials/navbar %>
	</div>
	<br />
    <div class="container" style="padding-top: .5%; padding-bottom: .5%">
        <div class= "wrapper">
            <div class = "innerwrapper">
                    <div class="card box" style="width: 15rem; margin: 0 auto; float: none; background-color:#023166; border-color:#023166;">
                                    <div id = "picdiv">
                                    <img class="img-thumbnail" id="avatar" src="/img/portfolio/<%= profile.avatar %>"><br/>
                                    </div>
                    </div>
                    
            </div>
            <div class="box">
                <h2 style="color:white"><%= user.username %>'s Profile</h2>
            </div>
        </div>   
    
        <ul class="list-group">
                <li class="list-group-item"> Email: <%= user.email %></li>
                <li class="list-group-item">Age: <%= profile.age %></li>

                <li class="list-group-item">Birthdate: <% if (profile.birthdate) { %><%= profile.birthdate.toDateString() %><% } %></li>
                <li class="list-group-item">Gender Identity: <%= profile.genderId %></li>
                <li class="list-group-item">Bio: <%= profile.bio %></li>
                <li class="list-group-item">Interests: <br/>
                    <% for (var i = 0; i < profile.interests.length; i++) { %>
                        <%= profile.interests[i] %><br/>
                    <% } %>
                </li>
                <li class="list-group-item">Medical Services: <br/>
                    <% for (var i = 0; i < profile.services.length; i++) { %>
                        <%= profile.services[i] %><br/>
                    <% } %>
                </li>
                <li class="list-group-item">
                Friends:
                    <!-- <h5 class="text-success"> -->
                        <div class = "row">
                        <% for (var i = 0; i < friends.length; i++) { %>
                            <div class="col-lg-3">
                            <div class="card" style="background-color: #f75f00; width: 15rem; margin: 15px 0;">
                                        <div class="dropdown">
                                            <div id = "picdiv">
                                            <img class="img-thumbnail" id="avatar" src="/img/portfolio/<%= friendProfiles[i].avatar %>"><br/>
                                            </div>
                                            <div class="dropdown-content">
                                                <div class="card-text">
                                                        <h4 >Age: <%= friendProfiles[i].age %> </h4>
                                                        <h4> Interest:
                                                        <% for (var j = 0; j < friendProfiles[i].interests.length; j++) { %>
                                                         <%= friendProfiles[i].interests[j] %> </h4>
                                                        <% } %>
                                                        <h4> Services: <%= friendProfiles[i].services %> </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body text-center">
                                        <div id="usernamesize">  <%= friends[i].username %><br/> </div>
                                        <form method="POST" action="">
                                            <input type="hidden" id="" name="recpUser" value="<%= friends[i].username %>">
                                            <input type="hidden" id="" name="recpId" value="<%= friends[i]._id %>">
                                            <input class="btn-sm btn-info btn-block" type="submit" value="Message">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <!-- </h5> -->
                </li>
        </ul>
        <br/>
        <% if (user.role != 'parent') { %>
        <a class="btn btn-primary" href='/profileEdit'>Edit Profile</a>
        <% } %>
    </div>
    <br/>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>