<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/navbar %>
    <div class="container">
        <h2><%= user.username %>'s Profile</h2>
        <br/>
        <h3>
                Email: <%= user.email %><br/>
                Age: <%= profile.age %><br/>
                Bio: <%= profile.bio %><br/>
                Interests: <%= profile.interests %><br/>
                Medical Services: <%= profile.services %><br/>
                Friends:
                    <h3 class="text-success">
                        <% for (var i = 0; i < friends.length; i++) { %>
                            <%= friends[i].username %><br/>
                        <% } %>
                    </h3> 
        </h3>
        </br>
        <h4><a class="btn btn-primary" href='/profileEdit'>Edit Profile</a></h4>
    </div>

</body>
<% include partials/script %>
</html>