<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/navbar %>
    </br>
    <div class="container" style="padding-top: 10%; padding-bottom: 10%">
        <h2><%= user.username %>'s Profile</h2>
        <br/>
        <ul class="list-group">
                <li class="list-group-item"> Email: <%= user.email %></li>
                <!---
                <li class="list-group-item">Age: <%= profile.age %></li> 
                !--->
                <li class="list-group-item">Birthdate: <% if (profile.birthdate) { %><%= profile.birthdate.toDateString() %><% } %></li>
                <li class="list-group-item">Gender Identity: <%= profile.genderId %></li>
                <li class="list-group-item">Bio: <%= profile.bio %></li>
                <li class="list-group-item">Interests: <br/>
                    <% for (var i = 0; i < profile.interests.length; i++) { %>
                        <%= profile.interests[i] %><br/>
                    <% } %>
                </li>
                <li class="list-group-item">Medical Services: <br/>
                    <% for (var i = 0; i < profile.services.length; i++) { %>
                        <%= profile.services[i] %><br/>
                    <% } %>
                </li>
                <li class="list-group-item">
                Friends:
                    <h5 class="text-success">
                        <div class = "row">
                        <% for (var i = 0; i < friends.length; i++) { %>
                            <div class="col-lg-3">
                            <div class="card" style="width: 15rem;">
                                    <div class="card-body text-center">
                                        <h3 class="card-header">
                                            <img class="logo" src="/img/portfolio/<%= friendProfiles[i].avatar %>"><br/>
                                            <div id="usernamesize">  <%= friends[i].username %><br/> </div>
                                        </h3>
                                        <button class= "btn-sm btn-info btn-block">Message</button>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                         </div>
                    </h5>
                </li>
        </ul>
        <br/>
        <a class="btn btn-primary" href='/profileEdit'>Edit Profile</a>
    </div>
    <br/>
</body>
<% include partials/script %>
</html>